{% extends "base.html" %}

{% block content %}
    <div class="jztop"></div>
  <div class="container">
    <div class="bloglist f_l">
      {% for first in first_10 %}
      <h3><a href="/jstt/bj/2017-07-13/784.html">【{{ first.types.name }}】{{ first.title }}</a></h3>
      <figure><img src="/static/{{ first.picture }}" alt="【{{ first.types.name }}】{{ first.title }}"></figure>
      <ul>
        <p> {{ first.desctiption|safe }}</p>
        <a title="【{{ first.types.name }}】{{ first.title }}" href="/article/{{ first.id }}/" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
      </ul>
      <p class="dateview"><span>{{ first.time }}</span><span>作者：佚名</span><span>个人博客：[<a href="/jstt/bj/">{{ first.types.name }}</a>]</span></p>
      {% endfor %}
    </div>
    <div class="r_box f_r">
      <div class="tit01">
        <h3 class="tit">关注我</h3>
        <div class="gzwm">
          <ul>
            <li><a class="email" href="#" target="_blank">我的电话</a></li>
            <li><a class="qq" href="#mailto:admin@admin.com" target="_blank">我的邮箱</a></li>
            <li><a class="tel" href="#" target="_blank">我的QQ</a></li>
            <li><a class="prize" href="#">个人奖项</a></li>
          </ul>
        </div>
      </div>
      <!--tit01 end-->

      <div class="tuwen">
        <h3 class="tit">图文推荐</h3>
        <ul>
          {% for tui in tui_7 %}
          <li><a href="/article/{{ tui.id }}"><img src="/static/{{ tui.picture }}"><b>{{ tui.title }}</b></a>
            <p><span class="tulanmu"><a href="/">{{ tui.type.name }}</a></span><span class="tutime">{{ tui.time }}</span></p>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="ph">
        <h3 class="tit">点击排行</h3>
        <ul class="rank">
            {% for click in click_12 %}
            <li><a href="/article/{{ click.id }}/" title="【{{ click.types.name }}】{{ click.title }}" target="_blank">【{{ click.types.name }}】{{ click.title }}</a></li>
            {% endfor %}
        </ul>
      </div>
      <div class="ad"> <img src="/static/images/03.jpg"> </div>
    </div>
  </div>
  <!-- container代码 结束 -->
  <div class="jzend"></div>
{% endblock %}
